*{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
body
{
	background: #2E457C;
}
.image__container
{
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background: url(../img/2023-06-28_18-40-12.png) center no-repeat;
 background-size: cover;
 padding: 0px 20px;
}
.information__container
{
	background: #00dab5c2;
	padding: 20px 30px;
}
.text__game
{
	font-size: 20px;
	font-weight: 600;
	color: rgb(255, 255, 255);
	text-align: center;
}
.button__download
{
	background: #2E457C;
	max-width: max-content;
	padding: 10px 30px;
	border-radius: 5px;
	margin: 50px auto 0px auto;
}
.button__download a
{
	font-size: 16px;
	font-weight: 600;
	color: rgb(255, 255, 255);
}
@media (max-width:1100px)
{
	.text__game
	{
		font-size: 16px;
	}
}
@media (max-width:600px)
{
	.image__container
	{
	background: url(../img/2023-06-28_18-40-12.png) left no-repeat;
	}
	.text__game
	{
		font-size: 12px;
	}
	
}